.dreamcard {
    margin: 20px;
}

.max-lines {
    /* display: block; */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 4.5em;
    max-height: 4.5em;
    line-height: 1.5em;
}

.card-title {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 3em;
    /* max-height: 3em; */
}

.card {
    background-color: #616161;
    width: 100%;
}

.card:hover {
    background-color: #424242;
}